body {

 /* ﾌｫﾝﾄ指定 */
 font-family: Verdana, sans-serif;
}

header {
 display: flex;
 padding: 0 16px;
}

.sp-menu {
 margin-right: auto;
}

.sp-menu #open {
 font-size: 40px;
 line-height: 64px;

 /* 指定した場所でカーソルの形を変形させる */
 cursor: pointer;
}

.overlay {
 text-align: center;
 padding: 64px;
 opacity: 0;
 pointer-events: none;
}

.overlay #close {
 position: absolute;
 top: 16px;
 left: 16px;
 font-size: 32px;
 cursor: pointer;
}

.overlay ul {
 list-style: none;
}

.overlay li {
 margin-top: 15px; 
}


