body {

 /* ﾌｫﾝﾄ指定 */
 font-family: Verdana, sans-serif;
}

header {
 display: flex;
 padding: 0 16px;
}

.sp-menu {
 margin-right: auto;
}

.sp-menu #open {
 font-size: 40px;
 line-height: 64px;

 /* 指定した場所でカーソルの形を変形させる */
 cursor: pointer;
}


